.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(5px + 2vmin);
}

.Pomodoro{
  max-width: 50vw;
  border-style: groove;
  border-color: slateblue;
  border-width: 0.5em;
  border-radius: 2em;
  background-color:rgba(105, 90, 205, 0.808);
}

.my-container {
  display: flex;
  flex-direction: row;
}

.Session {
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.Break {
  padding: 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Clock {
  margin: 2.5em; 
  padding: 1em;
  max-width: 50vw;
}

button {
  background-color: olive; 
  
}



h2 {
  padding: 1em;
}

h4 {
  padding: 0.5em;
}

h5 {
  min-width: 2em;
}

.iconify {
  min-height: 6vh;
  min-width: 3.5vw;
}

@media screen and (max-width: 700px) {
  .my-container {
    display: flex;
    flex-direction: column;
  }
  h2 {
    padding: 0.2em;
  }
  
}












